/* || GENERAL */

body {
  display: flex;
  font-family: 'Open Sans', sans-serif;
  color: #000;
}

button,
.fas,
.far {
  cursor: pointer;
}

/* || SIDE NAV BAR */

.menu {
  overflow: scroll;
  min-width: 16rem;
  height: 100vh;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
  clip-path: inset(0px -15px 0px 0px);
}

.nav-user-welcome > p {
  margin-bottom: 1rem;
  max-width: 12rem;
}

.nav-quote {
  font-style: italic;
}

hr {
  height: 1px;
  background-color: #c4c4c4;
}

.nav-list {
  height: 75%;
}

.menu-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-list li:hover {
  background-color: #f5f5f5;
}

.menu-list a {
  color: #000;
  width: 10rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-list a:hover {
  background-color: transparent;
}

.menu-list i {
  margin-right: 10px;
  visibility: hidden;
}

.menu-list li:hover i {
  visibility: visible;
}

.button-add-list {
  position: fixed;
  display: flex;
  align-items: center;
  bottom: 2rem;
  width: 12rem;
  border: 0;
  background: #fff;
  font-family: 'Open Sans', sans-serif;
}

.button-add-list span:first-child {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.button-add-list span:last-child {
  font-size: 1rem;
}

.nav-about {
  display: flex;
  align-items: end;
  min-width: 12rem;
}

.nav-about a {
  height: 24px;
}

.nav-about img {
  height: 24px;
}

.nav-about button {
  border: 0;
  background-color: transparent;
  font-size: 1rem;
  color: #000;
}

/* || MAIN CONTENT */

main {
  display: flex;
  justify-content: space-between;
  background-color: #778db9;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
}

.main-image-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main-image-wrapper > img {
  width: 40%;
}

.main-image-wrapper > p {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin: 3rem;
}

.todo-list-main {
  width: 100%;
  padding: 2rem;
}

.todo-list-heading {
  display: flex;
  align-items: center;
  height: 6rem;
}

.todo-list-name {
  width: 100%;
}

.todo-list-name input {
  background: transparent;
  border: 0;
  outline: none;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  width: 100%;
}

.todo-list-progress {
  font-size: 2rem;
}

.task-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.task-item {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 0.3rem;
}

.task-item:last-child {
  margin: 0;
}

.task-item input {
  border: 0;
  outline: 0;
  background-color: transparent;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

.task-status {
  display: flex;
  margin-right: 1rem;
}

input[type='checkbox'] {
  transform: scale(1.25);
}

.task-name {
  flex: 10;
}

.task-name input {
  width: 100%;
}

.task-due-date {
  flex: 3;
  font-size: 1rem;
}

.task-due-date input {
  text-align: center;
}

input[type='date']::-webkit-clear-button,
input[type='date']::-webkit-inner-spin-button {
  display: none;
}

.task-star {
  background-color: #ff6347;
  font-size: 1.25rem;
  color: #fff;
  cursor: pointer;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.task-star,
.task-notes,
.task-delete {
  width: 30px;
  text-align: center;
}

.add-new-task {
  position: sticky;
  background-color: #334975;
  padding: 0.5rem;
  border: 1px solid #334975;
  border-radius: 10px;
}

.add-new-task > button {
  width: 100%;
  display: flex;
  align-items: center;
  border: 0;
  background: transparent;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

.add-new-task span:first-child {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.add-new-task input {
  width: 100%;
  background-color: transparent;
  border: 0;
  outline: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  color: white;
}

.add-new-task form {
  width: 100%;
}

/* || TASK DETAILS */

.task-details {
  background-color: white;
  width: 24rem;
  padding: 2rem;
  transition: all 1s ease-in;
}

.task-detail-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0 1rem 0;
}

.task-detail-status {
  display: flex;
  justify-content: center;
}

.task-detail-status input {
  margin-right: 1rem;
}

.task-detail-name input {
  background: transparent;
  outline: none;
  border: 0;
  font-size: 1rem;
}

.task-detail-due-date,
.task-detail-notes {
  margin-bottom: 1rem;
}

.textarea {
  width: 100%;
  height: auto;
  outline: none;
  border: 1px solid grey;
}

.task-detail-delete {
  text-align: right;
  font-size: 1.1rem;
}
